<!DOCTYPE html>
html(lang="en")
    head
        meta(name='viewport' content='width=device-width, initial-scale=1')
        link(href='images/favicon.ico' rel='shortcut icon')
        meta(charset='UTF-8')
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.css")
        link(href='https://fonts.googleapis.com/css?family=Noto+Sans+TC:100,300,400,500,700,900&display=swap&subset=chinese-traditional' rel='stylesheet')
        link(rel="stylesheet", href="stylesheets/all.css")
    body
        button(type="button").btn.btn-success success
        button(type="button").btn.btn-accents accents